:root {
  --link-color: red;
  --link-underline-padding: 0em;
}

a {
  color: var(--link-color);
  display: inline-block;
  padding: 0 var(--link-underline-padding); 
  text-decoration: none;
}

a:after {
  background-color: var(--link-color);
  content: '';
  display: block;
  height: .1em;
  margin-left: calc(var(--link-underline-padding) * -1);
  margin-top: 0em;
  transition: width .8s;
  width: 0;
}

a:hover:after {
  width: calc(100% + var(--link-underline-padding) * 2);
}
